.icon-send {
    background-image: url('../icons/send.svg');
}

.icon-sign-out {
    background-image: url('../icons/sign-out.svg');
}

.icon-menu-burger {
    background-image: url('../icons/menu-burger.svg');
}

.icon-chat {
    background-image: url('../icons/chat.svg');
}

.icon-happy {
    background-image: url('../icons/happy.svg');
}

.icon-img-design {
    background-image: url('../icons/design.png');
}

.icon-img-programming {
    background-image: url('../icons/programming.png');
}

.icon-img-jobs {
    background-image: url('../icons/jobs.png');
}

.icon {
    background-position: center;
    background-size: 100%;
}