.icon-send {
    background-image: url('../icons/send.svg');
}

.icon-sign-out {
    background-image: url('../icons/sign-out.svg');
}

.icon-menu-burger {
    background-image: url('../icons/menu-burger.svg');
}

.icon-chat {
    background-image: url('../icons/chat.svg');
}

.icon-happy {
    background-image: url('../icons/happy.svg');
}

.icon-download-app {
    background-image: url('../icons/download-app.svg');
}

.icon-ring-on {
    background-image: url('../icons/ring-on.svg');
}

.icon-ring-off {
    background-image: url('../icons/ring-off.svg');
}

.icon-volume-high {
    background-image: url('../icons/volume-high.svg');
}

.icon-volume-slash {
    background-image: url('../icons/volume-slash.svg');
}

.icon-loading {
    background-image: url('../icons/loading.svg');
}

.icon-img-design {
    background-image: url('../icons/design.png');
}

.icon-img-ads {
    background-image: url('../icons/ads.png');
}

.icon-img-programming {
    background-image: url('../icons/programming.png');
}

.icon-img-jobs {
    background-image: url('../icons/jobs.png');
}

.icon-chat {
    background-image: url('../icons/chat.svg');
}

.icon-close {
    background-image: url('../icons/cross.svg');
}

.icon {
    background-position: center;
    background-size: 100%;
}